<section class="about" id="about">
    <div class="container">
        <h2>About us</h2>
        <p>Delight a loved one with a personalized gift, handmade by us. Here you will find a wide variety for every
            occasion. You can buy from our ready-made products, as well as we can make according to your wish.</p>
        <div class="container-card">
            <div class="card-about"><img src="assets/images/26814543_1214230088708146_20286857911660272_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/23926508_1183273751803780_6283891559648500740_o.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/36673565_1334713076659846_7789184621660340224_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/43339450_1421317834666036_5129400890955923456_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/43485805_1421317724666047_8971714393855229952_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/51086991_1512507135547105_7407713129737486336_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/51900609_1517321261732359_7386409451999199232_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/75550379_1739125329551950_6738751967427821568_n.jpg" />
            </div>
            <div class="card-about"><img src="assets/images/74624190_1739120162885800_2124925315825270784_n.jpg" />
            </div>
        </div>
        <div class="partners">
            <h4>Our partners</h4>
            <div class="media-container">
                <div class="media">
                    <img src="/assets/images/dafy's-logo.jpg" alt="Dafy's Art Studio logo">
                </div>
                <div class="media">
                    <img src="/assets/images/sk-logo.jpg" alt="Handmade by SK logo">
                </div>
                <div class="media">
                    <img src="/assets/images/s'moss-logo.jpg" alt="S'MOSS logo">
                </div>
            </div>
        </div>
    </div>
</section>