.error-msg {
    background-color: rgba(238, 74, 74 , 0.7);
}

.success-msg {
    background-color: rgba(99,230,81, 0.7);
}
.notification {
    position: fixed;
    z-index: 10;
    right: 20%;
    top: 20%;
    padding: 1em;
    border-radius: 0.3em;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    background-color: rgba(238, 74, 74, 0.699);
  }