@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    font: 16px/1.5 'Roboto', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.banner {

    background-image: url("./banner3.3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.section-site-header {

    color: #4F4C57;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 9999;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, .1);
}

.section-site-header .container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 100%;
    align-items: center;
    padding: 0.5em 1em;
}

.logo {
    display: inline-block;
    z-index: 100;
}

.logo img {
    width: 5em;
    height: auto;

}

.section-site-header a {
    color: #4F4C57;
}

.main-nav ul {
    display: flex;
}

.main-nav li,
.main-nav a {
    display: block;
}

.main-nav a {
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.main-nav li a:hover {
    color: #E14C62;
    text-shadow: 1px 1px 1px #4F4C57;


}


.section-hero {
    color: #fff;
    padding: 5em 0 3em 3em;
}

.section-hero h2 {
    text-shadow: 1px 1px 2px black;
    padding-top: 1em;
    font-weight: bold;
    padding-bottom: 1.2em;
    font-size: 3em;
}

.section-hero p {
    text-align: center;
    text-shadow: 1px 1px 2px #4F4C57;
}


.section-hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6em;
    font-size: 1.4em;
}

/* about */
.about .container {
    padding-top: 8em;
    text-align: center;
    margin-bottom: 3em;
}


.about .container h2 {
    font-size: 2.6em;
    color: #E14C62;
}

.about .container p {
    font-size: 1.4em;
    margin-bottom: 2em;
}

.about .container .container-card {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.about .container .card-about {
    flex: 0 0 6em;
    width: 5em;
    height: 20em;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    border-radius: 0.2em;
    transition: all 0.3s ease-in;
}

.about .container .card-about:hover {
    width: 30em;
    flex: 0 0 30em;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;

}

.card-about img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

/* gallery */

.gallery .container {
    padding-top: 8em;
    text-align: center;
    margin-bottom: 3em;
}


.gallery .container h2 {
    font-size: 2.6em;
    color: #E14C62;
    padding-bottom: 1em;
}

.gallery .container p {
    font-size: 1.4em;

}

.gallery .container .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em 1em;
}

/* .gallery .container .container-cards::after,
.gallery .container .container-cards::before {
    display: block;
    content: '';
    flex: 0 0 30%;
    order: 9999;
 
} */

.gallery .container .container-cards .card {
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 30%;
    flex-flow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.gallery .container .container-cards .card:hover {
    width: 31%;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.gallery .container .container-cards .card .content-card {
    display: flex;
    align-self: flex-end;
    gap: 1em;

}

.gallery .container .container-cards .card button {
    background-color: #fff;
    color: #E14C62;
    padding: 0.3em 0.5em;
    outline: none;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1.2em;
}

.gallery .container .container-cards .card button:hover {

    background-color: #E14C62;
    color: #fff;
    transition: all 0.6s ease;

}

@media (max-width: 992px) {
    .gallery .container .container-cards .card {
        width: calc(50% - 2em);
    }
    .gallery .container .container-cards .card:hover{
        width: calc(50% - 1em);
    }
}

@media (max-width: 576px) {
    .gallery .container .container-cards .card{
        width: calc(100% - 2em);
    }
    .gallery .container .container-cards .card:hover {
        width: calc(100% - 1em);
    }
}

.gallery .container .container-cards .card img {
    width: 100%;
    height: auto;
}



/* details */
.details .container .details-item {
    display: flex;
    gap: 2em;
    align-items: stretch;
}


.details .container .details-item .details-img{
   flex: 1 0 40%;
   border: 2px solid #fff;
   border-radius: 0.2em;
   box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  
}

.details .container .details-item .details-content {

    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-items: stretch;
    padding: 2em;
}
.details .container .details-item .details-content h3 {

    text-align: center;
    font-weight: 800;
    font-size: 2em;
}
.details .container .details-item .details-content h3, h4{
    color: #E14C62;
    padding-bottom: 1em;
}
.details .container .details-item .details-content p {
    padding-bottom: 0.8em;
}
.details .container .details-item .details-content i {
    padding-right: 0.6em;
    color: #E14C62;
}

.details .container .details-item .details-content .action .btn {
    margin: 0.2em;
}

.details .container .details-item .details-content .action button {
    align-self: flex-end;
    background-color: #fff;
    color: #E14C62;
    padding: 0.3em 0.5em;
    outline: none;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1.2em;
}

.details .container .details-item .details-content .action button:hover,
.details .container .details-item .details-content .action button:hover i {
    background-color: #E14C62;
    color: #fff;
    transition: all 0.3s ease;
}

@media (max-width: 992px) {

    .details .container .details-item{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .details .container .details-item .details-img{
        flex: 0 1 40%;
    padding: 0 3em;
   text-align: center;
    }
}


/* login */
.banner-forms {

    background-image: url("./banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em 0;
}

.section-login .container,
.section-register .container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.section-login .container .wrapper,
.section-register .container .wrapper {
    width: 25em;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2.4em);
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
    color: #E14C62;
    text-align: center;
    border-radius: 0.4em;
    padding: 2em 1em;
}

.section-login .container .wrapper h3,
.section-register .container .wrapper h3 {
    font-size: 2em;
    text-align: center;

}

.section-login .container .wrapper .input-box,
.section-register .container .wrapper .input-box {
    width: 100%;
    height: 3em;
    margin: 3em 0;
    position: relative;

}

.section-login .container .wrapper .input-box input,
.section-register .container .wrapper .input-box input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 7px rgb(0, 0, 0, 0.2);
    border-radius: 0.4em;
    color: #fff;
    font-size: 1em;
    padding: 1.6em 2.2em 1.6em 1.6em;
}

.section-login .container .wrapper .input-box input::placeholder,
.section-register .container .wrapper .input-box input::placeholder {
    color: #fff;

}

.section-login .container .wrapper .input-box i,
.section-register .container .wrapper .input-box i {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
}

.section-login .container .wrapper .btn,
.section-register .container .wrapper .btn {
    width: 60%;
    height: 3em;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 1.2em;
    color: #E14C62;

}

.section-login .container .wrapper .register-link,
.section-register .container .wrapper .login-link {
    margin-top: 1.2em;
}

.section-login .container .wrapper .register-link p,
.section-register .container .wrapper .login-link p {
    color: #fff;
}

.section-login .container .wrapper .register-link p a,
.section-register .container .wrapper .login-link p a {
    color: #E14C62;
    text-decoration: none;

}

.section-login .container .wrapper .register-link p a:hover,
.section-register .container .wrapper .login-link p a:hover {
    text-decoration: underline;
}


/*footer */
.footer {
    padding-top: 2em;
    background-color: #fff;
    padding-bottom: 1em;
}

.footer .container .info {
    display: flex;
    justify-content: space-between;

}

.footer .container .info h5 {
    font-size: 1.2em;
}

.footer .container ul {
    list-style: none;
}

.footer .container li {
    padding: 0.5em 0;
}

.footer .container li a {
    text-decoration: none;
    color: #4F4C57;
}

.footer .container li a:hover {
    color: #E14C62;
}

.footer .container .copyright {
    border-top: 1px solid #4F4C57;
    text-align: left;
    padding-top: 2em;
    color: #4F4C57;
    letter-spacing: 1.1px;
}

.footer .container .copyright span {
    color: #4F4C57;
    opacity: 0.5;
}

.footer .container .copyright span.logo-span,
.footer .container .info span.logo-span {
    color: #E14C62;
    opacity: 1;
    text-shadow: 1px 1px 1px #4F4C57;

}