.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
   
  }
  
  .backdrop {
	background-color: rgba(0, 0, 0, 0.30);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
  }
  
  .modal {
	width: 45rem;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	max-height: 90vh;
	border-radius: 1em;
	background-color: white;
	padding: 1rem;
	box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
	z-index: 20;
    text-align: center;
  }
  
 .modal h2{
	font-size: 1.3em;
    color: #4F4C57;

 }
 
 .modal button {
    padding: 0.6em 1.2em;
    margin: 1em;
    color: #F05F8C;
    background-color: #fff;
    border-radius: 0.3em;
    border-color: #aaa;
    font-weight: 500;
    font-size: 1.2em;
 }
.modal .btn{
	display: flex;
    justify-content: center;
}

  @media (min-width: 930px) {
	.modal {
	  width: 600px;
	  border-radius: 10px;
	} 
  
}