.profile .container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 9em;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.profile-card img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
 
}


.profile .container .my-products {
    margin-top: 2em;
    color: #F05F8C;
}
