<section class="banner-forms">
    <section class="section-login">
        <div class="container">
            <form action="">
                <div class="wrapper">
                    <h3>Login</h3>
                    <div class="input-box">
                        <input type="text" placeholder="Email" name="email" id="email" #inputEmail>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" id="password" #inputPassword>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <button type="submit" class="btn" (click)="login($event,inputEmail.value, inputPassword.value)">Login</button>
                    <div class="register-link">
                        <p>Don't have an account? <a routerLink="/register">Register</a></p>
                        
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>