<section class="banner-forms">
    <section class="section-login">
        <div class="container">

            <form [formGroup]="form" (ngSubmit)="login()">
                <div class="wrapper">
                    <h3>Login</h3>
                    <div class="input-box">
                        <input type="text" placeholder="Email" name="email" id="email" formControlName="email">
                        <i class="fa-solid fa-envelope"></i>

                        <ng-container *ngIf="form.get('email')?.touched">
                            <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                            <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Email is invalid!</p>
                        </ng-container>

                    </div>

                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" id="password" formControlName="password">
                        <i class="fa-solid fa-lock"></i>

                        <ng-container *ngIf="form.get('password')?.touched">
                            <p class="error" *ngIf="form.get('password')?.errors?.['required']">Password is required!</p>
                            <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 6 characters!</p>
                            <p class="error" *ngIf="form.get('password')?.errors?.['maxlength']">Password must be less than 15 characters!</p>
                        </ng-container>

                    </div>
                    <button [disabled]="form.invalid"
                    [style]="{backgroundColor: form.invalid ? '#ccc' : '#fff'}" type="submit" class="btn">Login</button>
                    <div class="register-link">
                        <p>Don't have an account? <a routerLink="/register">Register</a></p>

                    </div>
                </div>
            </form>
        </div>
    </section>
</section>