<footer class="footer">
    <div class="container">
        <div class="info">
            <div>
                <div class="logo">
                    <img src="/assets/images/logo.png" alt="logo" />
                    <ul>
                        <li>Bulgaria, 4900</li>
                        <li>+359-893-***-***</li>
                        <li>handmade-gifts&#64;gmail.com</li>

                    </ul>
                </div>
            </div>
            <div class="panel">
                <h5>Follow us</h5>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i><span> Facebook</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i><span> Twitter</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i><span> Instagram</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i><span> YouTube</span></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i><span> LinkedIn</span></a></li>
                </ul>
            </div>
            <div class="panel">
                <h5>Owner</h5>
                <ul>
                    <li><a href="#"><span class="logo-span">Dafy's Art Studio</span></a></li>
                </ul>
                <h5>Partners</h5>
                <ul>
                    <li><a href="#"><span>Handmade by SK</span></a></li>
                    <li><a href="#"><span>S' moss</span></a></li>

                </ul>

            </div>
            <div class="panel">
                <ul>
                    <h5>Policy</h5>
                    <li><a href="https://www.privacypolicytemplate.net/live.php?token=k3q0ayJ4H3luBVWCGXWxd5hCSfWk2cQ8">Privacy
                            Policy</a></li>
                    <li><a href="https://www.privacypolicytemplate.net/live.php?token=k3q0ayJ4H3luBVWCGXWxd5hCSfWk2cQ8">Terms
                            of Service</a></li>
                    <li><a href="https://www.privacypolicytemplate.net/live.php?token=k3q0ayJ4H3luBVWCGXWxd5hCSfWk2cQ8">Cookie
                            Settings</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p class="copyright">&copy; 2024 | <span> All rights reserved! | </span><span class="logo-span">Handmade
                    Gifts</span><span> | Dafy Yasenova.</span>
            </p>
        </div>
    </div>
</footer>