<footer class="footer">
    <div class="container">
        <div class="info">
            <div>
                <div class="logo">
                    <a  (click)="scrollToTop()" routerLink="/"><img src="/assets/images/logo.png" alt="logo"></a>
                    <ul>
                        <li>Bulgaria, 4900</li>
                        <li>+359-893-***-***</li>
                        <li>handmade-gifts&#64;gmail.com</li>

                    </ul>
                </div>
            </div>
            <div class="panel">
                <h5>Follow us</h5>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span> Facebook</span></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i><span> Twitter</span></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i><span> Instagram</span></a></li>
                    <li><a href="https://www.youtube.com/watch?v=WR5QrE5p-JI&t=19s" target="_blank"><i class="fa-brands fa-youtube"></i><span> YouTube</span></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i><span> LinkedIn</span></a></li>
                </ul>
            </div>
            <div class="panel">
                <h5>Owner</h5>
                <ul>
                    <li><a href="https://www.facebook.com/DafysArtStudio" target="_blank"><span class="logo-span">Dafy's Art Studio</span></a></li>
                </ul>
                <h5>Partners</h5>
                <ul>
                    <li><a href="https://www.facebook.com/handmadebysk2021" target="_blank"><span>Handmade by SK</span></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100077844126966" target="_blank"><span>S' moss</span></a></li>

                </ul>

            </div>
            <div class="panel">
                <ul>
                    <h5>Policy</h5>
                    <li><a href="https://www.privacypolicytemplate.net/live.php?token=k3q0ayJ4H3luBVWCGXWxd5hCSfWk2cQ8" target="_blank">Privacy
                            Policy</a></li>
                    <li><a href="https://www.privacypolicytemplate.net/live.php?token=k3q0ayJ4H3luBVWCGXWxd5hCSfWk2cQ8" target="_blank">Terms
                            of Service</a></li>
                    <li><a href="https://www.privacypolicytemplate.net/live.php?token=k3q0ayJ4H3luBVWCGXWxd5hCSfWk2cQ8" target="_blank">Cookie
                            Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright-footer">
            <p class="copyright">&copy;  {{year}} | <span> All rights reserved! | </span><span class="logo-span">Handmade
                    Gifts</span><span> | Dafy Yasenova.</span>
            </p>
            
                <i (click)="scrollToTop()" class="fa-regular fa-circle-up fa-2x"></i>
        </div>
    </div>
</footer>