<section class="banner-forms">
    <section class="section-create">
        <div class="container">
            <form action="" method="post">
                <div class="wrapper">
                    <h3>Create product</h3>

                    <div class="input-box">
                        <label for="name">Product name</label>
                        <input type="text" name="name" id="name" #inputName>
                    </div>
                    <div class="input-box">
                        <label for="brand">Brand</label>
                        <input type="text" name="brand" id="brand" #inputBrand>
                    </div>
                    <div class="input-box">
                        <label for="imageUrl">Image</label>
                        <input type="text" name="imageUrl" id="imageUrl" #inputImageUrl>
                    </div>

                    <div class="input-box">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" #inputDescription>
                    </div>
                    <div class="input-box">
                        <label for="time">Time for production</label>
                        <input type="text" name="time" id="time" #inputTime>
                    </div>
                    <div class="input-box">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" #inputPrice>
                    </div>


                    <div class="category">
                        <label for="category">Category</label>
                        <div>
                            <!-- input? -->
                            <select value='' placeholder="Category" name="category" id="category" #inputCategory>

                                <option value="Photo frame">Photo frame</option>
                                <option value="Decoupage set">Decoupage set</option>
                                <option value="Moss">Moss</option>
                                <option value="Birthday frame">Birthday frame</option>
                                <option value="Flowers">Flowers</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                    </div>

                    <!-- input? -->
                    <label for="status">Status</label>
                    <div class="status">
                        <input type="radio" id="available" name="status" value="" #inputStatus />
                        <label for="available">Available</label>
                                                                            <!-- stasus>? -->
                        <input type="radio" id="to-order" name="status" value="" #inputStatus />

                        <label for="to-order">To order</label>

                    </div>
                    <button
                        (click)="addProduct($event,inputName.value, inputBrand.value, inputImageUrl.value, inputDescription.value,inputPrice.valueAsNumber, inputCategory.value, inputStatus.value, inputTime.value)"
                        class="btn">Create</button>

                </div>
            </form>
        </div>
    </section>
</section>