<section class="banner-forms">
    <section class="section-create">
        <div class="container">
            <form action="">
                <div class="wrapper">
                    <h3>Create product</h3>

                    <div class="input-box">
                        <label >Product name</label>
                        <input type="text" >
                    </div>
                    <div class="input-box">
                        <label >Brand</label>
                        <input type="text" >
                    </div>
                    <div class="input-box">
                        <label>Image</label>
                        <input type="text" >
                    </div>
                
                    <div class="input-box">
                        <label>Description</label>
                        <input type="text" >
                    </div>
                    <div class="input-box">
                        <label>Price</label>
                        <input type="text" >
                    </div>
                    

                    <div  class="category">
                        <label>Category</label>
                        <div>
                        <select value=''  placeholder="Category" name="category" >

                            <option value="Photo frame">Photo frame</option>
                            <option value="Decoupage set">Decoupage set</option>
                            <option value="Moss">Moss</option>
                            <option value="Birthday frame">Birthday frame</option>
                            <option value="Flowers">Flowers</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    </div>

                    
                        <label>Status</label>
                        <div class="status">
                            <input type="radio" id="contactChoice1" name="contact" value="email" />
                            <label for="contactChoice1">Available</label>

                            <input type="radio" id="contactChoice2" name="contact" value="email" />
                            <label for="contactChoice2">To order</label>
                      
                    </div>
                    <button type="submit" class="btn">Create</button>

                </div>
            </form>
        </div>
    </section>
</section>