<section class="gallery" id="gallery">
    <div class="container">
        <h2>Gallery</h2>

        <div class="container-cards">
            <div class="card">
                <div class="image-card">
                    <img src="assets/images/26814543_1214230088708146_20286857911660272_n.jpg" />
                </div>
                <div class="content-card">
                    <p>Product name nam</p>
                    <button>View</button>
                </div>
            </div>
            <div class="card">
                <div class="image-card">
                    <img src="assets/images/26814543_1214230088708146_20286857911660272_n.jpg" />
                </div>
                <div class="content-card">
                    <p>Product name</p>
                    <button>View</button>
                </div>
            </div>
            <div class="card">
                <div class="image-card">
                    <img src="assets/images/26814543_1214230088708146_20286857911660272_n.jpg" />
                </div>
                <div class="content-card">
                    <p>Product name</p>
                    <button>View</button>
                </div>
            </div>
            <div class="card">
                <div class="image-card">
                    <img src="assets/images/26814543_1214230088708146_20286857911660272_n.jpg" />
                </div>
                <div class="content-card">
                    <p>Product name</p>
                    <button>View</button>
                </div>
            </div>
            <div class="card">
                <div class="image-card">
                    <img src="assets/images/26814543_1214230088708146_20286857911660272_n.jpg" />
                </div>
                <div class="content-card">
                    <p>Product name</p>
                    <button>View</button>
                </div>
            </div>
        </div>
    </div>
</section>