<section class="gallery" id="gallery">
    <div class="container">
        <h2>Gallery</h2>
        <div *ngIf="isLoading">
        <app-loader />
        </div>

        <div *ngIf="!isLoading && products && products.length > 0" class="container-cards">
            <div *ngFor="let product of products" class="card">
                <div class="image-card">
                    <img src={{product.imageUrl}}/>
                </div>
                <div class="content-card">
                    <p>{{product.name | slice : 15 }}</p>
                   <a *ngIf="isLoggedIn" [routerLink]="['/products', product._id]" ><button>View</button></a>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading && (!products || products.length === 0)">
            <h3>There are no products in the gallery yet...</h3>
        </div>

    </div>
</section>