<section class="section-site-header">
    <div class="container">

        <div class="logo">
            <img src="/assets/images/logo.png" alt="logo">

        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Create</a></li>
                <li><a href="#">Search</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/profile">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>
</section>