<section class="section-site-header">
    <div class="container">

        <div class="logo">
            <a routerLink="/"><img src="/assets/images/logo.png" alt="logo"></a>

        </div>
        <nav class="main-nav">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/gallery">Gallery</a></li>
                <li><a routerLink="/create">Create</a></li>
                <li><a routerLink="/search">Search</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</section>