<section class="details" id="details">
    <div class="container">
        <div class="details-item">

            
            <div class="details-img">
                <img src="assets/images/27336781_1220753094722512_5962910048863516732_n.jpg" alt="details-image">
            </div>
            <div class="details-content">
                <div class="action">
                    <div><button class="like-btn btn"><i
                                class="fa-solid fa-thumbs-up"></i><span>Like</span></button></div>
                    <div><button class="edit-btn btn"><i class="fa-solid fa-pencil"></i><span>Edit</span></button>
                    </div>
                    <div><button class="delete-btn btn"><i
                                class="fa-solid fa-trash"></i><span>Delete</span></button></div>
                    <div><button class="comment-btn btn"><i
                                class="fa-regular fa-comment-dots"></i><span>Comment</span></button></div>
                    <div><button class="back-btn btn"><i
                                class="fa-solid fa-circle-chevron-left"></i><span>Back</span></button></div>

                </div>
                <div class="content">
                    <h3 class="product-name">
                        Product name
                    </h3>
                    <h4 class="product-brand"><i class="fa-solid fa-gift"></i>Brand: Brand name</h4>
                    <p class="description"><i class="fa-solid fa-list-ul"></i>Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quam rerum
                        consequuntur cum, nesciunt saepe obcaecati animi quasi nobis tenetur.</p>
                    <p class="time"><i class="fa-regular fa-clock"></i>Time for production: 3 days</p>
                    <p class="status"><i class="fa-solid fa-bookmark"></i>Status: Available</p>
                </div>

            </div>
        </div>
    </div>
</section>